html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}


body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(43, 121, 117) 11%, rgba(155, 186, 231, 1) 84%, rgba(148, 187, 233, 1) 100%);
}

.about__paragraph:hover {
    background: rgb(238, 174, 202);
    color: black;
}

.action--js {
    color: green;
    background-color: black;
}

.sectionHeader {
    color: white;
    font-size: 24px;
}

.diary__header::before {
    content: "";
    display: inline-block;
    background-color: tomato;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.diary__header::after {
    content: "";
    display: inline-block;
    background-color: tomato;
    height: 16px;
    width: 16px;
    border-radius: 50%;

}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 40px;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.mainHeader {
    color: pink;
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: grey;
}

.list {
    list-style: decimal;
}

.tablica {
    width: 100%;
}

.navigation__item {
    display: inline;

}

.input:focus {
    background: yellow;
}

.navigation__link {
    color: #85BAA1;
}

.navigation__list {
    list-style: none;
    padding: 0;
}

.navigation__link:hover {
    color: #1460aa;
}

.navigation__link:visited {
    color: #994636;
}

.navigation__link:focus {
    border: 3px solid orange;
}

.about {
    max-width: 400px;
    max-height: 400px;
    overflow: scroll;
    padding: 10px;
}

.about__header {
    color: #85BAA1;
}

.about__paragraph {
    color: darkblue;
    max-width: 400px;
}

.about__picture {
    width: 100%;
    max-width: 200px;
    display: block;
    float: left;
    margin: 0 16px 16px 0;
}

.diary {
    color: #CA907E;
}

.diary__calendar {
    color: #994636;
}

.diary__list {

    list-style: none;
}

.diary__header {
    color: #994636;
}


.table {
    text-align: center;
    border: 3px solid violet;
    width: 100%;
}

.header__title--red {
    color: red;
}

.navigation__list {
    list-style: none;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: center;

}

.navigation__item {
    display: block;
    margin: 0 16px;

}

.navigation__link {
    color: green;

}

@media (min-width: 640px) {
    .main {
        max-width: 900px;

    }
}

@media (max-width: 640px) {


    .navigation__list {
        flex-direction: column;
        display: none;
    }

    .navigation__item {
        margin: 16px;
    }
}