body {
    background: #fefefe;
    }
.mainHeader {
color:greenyellow;
}

.sectionHeader{
    color:white;
    background:pink;
    font-size: 24px;
}


.diaryHeader{
    color:greenyellow;
}

.paragraph {
    color: darkblue;
}

.calendario {
    color:green;
}

.propositos {
    color:pink;
    background: grey;
}