html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}


body {
    background-image: url(comp.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.about__page {
    display: flex;
    flex-direction: row;

}

.about__photo {
    border-radius: 100%;
    max-width: 140px;
    max-height: 140px;

}

.about__paragraph {
    background-color: rgb(238, 174, 202, 0.5);
    max-width: 300px;
    text-align: center;
    justify-content: center;
    text-shadow: lightcoral;
}

.about__paragraph:hover {
    background: rgb(238, 174, 202);
    color: black;
}



.action--js {
    color: green;
    background-color: black;
}

.sectionHeader {
    color: white;
    font-size: 24px;
}

.diary__header::before {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: grey;
}

.list {
    list-style: decimal;
}

.tablica {
    width: 100%;
}

.navigation__item {
    display: inline;

}

.input:focus {
    background: yellow;
}

.navigation__link {
    color: pink;
}

.navigation__list {
    list-style: none;
    padding: 0;
}

.navigation__link:hover {
    color: #1460aa;
}

.navigation__link:visited {
    color: black;
}



.todo {
    background-color: rgb(238, 174, 202, 0.5);
}

.diary__section {
    background-color: rgb(238, 174, 202, 0.5);
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 40px;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.mainHeader {
    color: pink;
}



.about {
    max-width: 400px;
    max-height: 400px;
    overflow: scroll;
    padding: 10px;
}

.about__header {
    color: #85BAA1;
}


.diary {
    color: #CA907E;
}

.diary__calendar {
    color: #994636;
}

.diary__list {

    list-style: none;
}

.diary__header {
    color: #994636;
}


.table {
    text-align: center;
    border: 3px solid violet;
    width: 100%;
}

.header__title--color {
    color: #872B4D;
}

.header__title {
    font-size: 40px;
    margin-top: -60px;
}



.navigation__list {
    list-style: none;
    padding: 0;
    background: white;
    max-width: 200px;
    text-align: center;
    border-radius: 50px;

}

.navigation__item {
    display: block;
    margin: 0 16px;

}

.navigation__link {
    color: green;

}

@media (min-width: 640px) {
    .main {
        max-width: 900px;

    }
}

@media (max-width: 640px) {


    .navigation__list {
        flex-direction: column;
        display: none;
    }

    .navigation__item {
        margin: 16px;
    }
}

.footer {
    color: #black;
    margin-top: 80px;
}